.form-control-matrix {
  padding: 10px;
  background-color: transparent;
  font-size: 1.5rem;
  transition: 500ms all;

  color: #000000;
  border: 3px solid #000000;
  border-radius: 45px;
  background-color: #ffffff;
  &:hover,
  &:target,
  &:active,
  &:focus {
    background-color: #530975;
    color: #ffffff;
    border-color: #530975;
    //box-shadow: 0px 0px 20px 0px rgba(0 0 0 0);
  }

  &[type="text"] {
  }
  &[type="submit"] {
  }

  &.is-invalid {
    border-color: #ff0000;
  }
}

.form-calc-title {
  font-size: 28px;
}

@media (max-width: 1440px) {
  .form-calc-title {
    font-size: 24px;
  }
}
@media (max-width: 1280px) {
  .form-calc-title {
    font-size: 20px;
  }
}
@media (max-width: 1080px) {
  .form-calc-title {
    font-size: 18px;
  }
}

@media (max-width: 600px) {
  .form-calc-title {
    //font-size: 28px;
  }
}
