.matrix-souls-h4 {
  font-size: 18px;
  text-transform: uppercase;
}
.matrix-souls-h5 {
  font-size: 16px;
  text-transform: uppercase;
}

.matrix-souls-h4-desctop {
  transform: translateY(-68px);
}

.text-line-matrix {
  font-size: 11px;
}
@media (max-width: 600px) {
  .h4 {
    font-size: 1.2rem;
  }
  .matrix-souls-h4 {
    margin: 0;
    font-size: 12px;
  }
  .matrix-souls-h5 {
    margin: 0;
    font-size: 12px;
  }
  .matrix-souls-h4-desctop {
    transform: translateY(0);
  }
}

#dt-for-m-2-1,
#dt-for-m-2-2 {
  color: #530975;
  font-weight: bold;
}
