@import url("https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import "vars";
@import "watermark";
@import "figure";
@import "table";
@import "form";
@import "typography";
@import "dev";

* {
  font-family: "Lato", sans-serif;
  color: #000000;
}

svg {
  * {
  }
}

img.img {
  display: block !important;
  display: block !important;
  height: 249px;
  margin: 29px auto;
  box-shadow: 0px 0px 50px 0px #00000070;
}

.bg-cover {
  width: 100%;
  object-fit: cover;
}

body.body-calc-numerologist {
  position: absolute;
  height: 100vh;
  width: 100vw;
}
body.body-matrix-soul {
  margin: auto;
}

.body-container {
  height: 100%;
}
.row-hr {
  margin-top: 5em;
}

.container-result {
  padding-bottom: 35px;
  padding-top: 35px;

  @media (max-width: 600px) {
  }
}

.container-result-title {
  font-size: 32px;
  letter-spacing: 5px;

  @media (max-width: 600px) {
    margin-right: -15px;
    margin-left: -15px;
    font-size: 20px;
    letter-spacing: 1px;
  }
}

.body-row {
  height: 100%;
}

.bg-turquoise {
  background-color: #cde1d8;
}

.bg-image-1 {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url(../img/bg.PNG);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.21;
    z-index: -1;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #d6d8da;
    z-index: -1;
  }
}

.h1 {
  font-size: 40px;
  letter-spacing: 10px;
}

.h2 {
  font-size: 32px;
  letter-spacing: 5px;

  @media (max-width: 600px) {
    font-size: 22px;
    letter-spacing: 1px;
  }
}

.card-pythagoras {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 15px 0;
  padding: 15px 0;
  color: #000000;
  font-size: 20px;
  letter-spacing: 2px;
  border: 2px dotted #000000;

  border-radius: 10px;
}

.card-pythagoras-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-color: transparent;
}

.form-calc {
  width: 100%;
  padding: 0 15px;

  @media (max-width: 600px) {
    padding: 0;
  }
}

.form-title {
  margin: 48px 0;

  @media (max-width: 600px) {
    margin: 24px 0 0 0;
  }
}

.form-group {
  margin: 48px 0;

  @media (max-width: 600px) {
    margin: 12px 0;
  }
}

.form-calc-group {
  position: relative;

  @media (max-width: 600px) {
    width: 100%;
  }
}

.form-calc-control {
  border: #ffffff;
  outline: none;
  font-size: 22px;
  text-align: center;
  padding: 1em 0.5rem;
  border: 1px solid #ffffff;
  border-radius: 50px;
  transition: all 300ms;
  outline: none;
  box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  &.is-invalid {
    border-color: red;
    color: red;
  }

  @media (max-width: 600px) {
    width: 100%;
    padding: 0.5rem;
  }
}

.form-calc-submit {
  padding: 1em 0;
  border: 4px dotted rgba(0, 0, 0, 0.75);
  border-radius: 10px;
  font-size: 22px;
  background: none;
  outline: none;

  @media (max-width: 600px) {
    padding: 0.5em 0;
    width: 100%;
  }
}

.form-calc-label-hover {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-size: 22px;
  margin: 0;
  opacity: 0.3;
}

@media (max-width: 600px) {
  body {
    position: relative;
    height: auto;
    width: auto;
  }

  .mobile-grid {
    display: flex;
    flex-direction: column;
  }

  .card-pythagoras {
    margin: 1px 0;
    font-size: 12px;
    letter-spacing: 0px;
    margin-left: -14px;
    margin-right: -14px;
  }

  .mobile-a {
    padding: 10px 0px 5px 0 !important;
  }
  .row-hr {
    margin-top: 1em;
  }
}

.value-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #000000;
  border-radius: 100%;
  width: 24px;
  height: 24px;
}

@media (max-width: 600px) {
  .body-style-2 {
    padding-bottom: 50px;
    background: #cde1d8;
  }
}
.block-title {
  margin: auto;
  width: 100%;
  padding: 20px 25px;
}
.block-title-card-health {
  max-width: 800px;
}
.block-title-period-energy {
  padding: 20px 25px;
}
.block-desc-period-energy {
  padding: 20px 25px;
}

.bg-grey {
  background-color: rgba($color-grey, 0.56);
}
.bg-pink {
  background-color: rgba($color-pink, 0.56);
}
.bg-smoke {
  background-color: rgba($color-smoke, 0.56);
}
.bg-orange {
  background-color: rgba($color-orange, 0.56);
}
.bg-indigo {
  background-color: rgba($color-indigo, 0.56);
}
.bg-aquamarine {
  background-color: rgba($color-aquamarine, 0.56);
}
.bg-green {
  background-color: rgba($color-green, 0.56);
}
.bg-purple {
  background-color: rgba($color-purple, 0.56);
}
.bg-yellow {
  background-color: rgba($color-yellow, 0.56);
}
.bg-coral {
  background-color: rgba($color-coral, 0.56);
}

@media (max-width: 1440px) {
  .block-title {
    &.h3 {
      font-size: 1.5rem;
    }
  }
}

@media (max-width: 1180px) {
  .block-title {
    &.h3 {
      font-size: 1.2rem;
    }
  }
}
